@page "/author"

<h3>Author</h3>

<img src=".\image\fotopersonal.jpg">
<table>
    <tr>
        <th>Nama</th>
        <th>NRP</th>
    </tr>
    <tr>
        <td>Nuzul Abatony</td>
        <td>5025201107</td>
    </tr>
</table>

@code {

}
